.container{
    position: fixed;
    top: 0;
    background-color: #fff;
    margin: 0 auto;
    height: 56px;
    width: 100%;
    box-shadow: 0px 0px 6px black;
}

.navbar{
    display: flex;
    justify-content: space-between;
    .navbar__logo img{
        width: 58.11px;
        height: 20px;
        margin-top: 18.22px;
        margin-bottom: 18.48px;
        margin-left: 100px;
    }
    .navbar__item{
        @include listStyle;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 15px;
        margin-top: 16px;
        margin-bottom: 16px;
        text-decoration: none;
        margin-left: 0;
    }
    a{
        text-decoration: none;
    }
    #navbar__items{
        margin-left: 400px;
    }
    .navbar__link{
        @include btn;
        margin-top: 9px;
        margin-right: 50px;

    }
}
.box2__img{
    margin-right: 100px;
    margin-top: 120px;
}
.box1__title{
    margin-top: 127px;
    margin-left: 100px;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Open Sans';
}
.box1__text{
    font-weight: 400;
    font-size: 20px;
    margin-left: 102px;
    margin-top: 15px;
    margin-right: 160px;
}
.box1__btn{
    @include btn;
    margin-left: 102px;
    margin-top: 15px;
}
.main{
    display: flex;
    height: 418px;
}
.xizmatlar__title{
    text-align: center;
    margin-top: 56px;
    font-weight: 700;
    font-size: 24px;
}
.xizmatlar__text{
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    margin-left: 290px;
    margin-right: 290px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.cards{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    img{
        margin-top: 25px;
    }
}
.cards__btn{
    @include btn;
    margin-left: 447px;
    margin-top: 20px;
}
.cards__link{
    margin-left: 20px;
    color: blue;
}
.working__title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.working__text{
    text-align: center;
    margin-left: 290px;
    margin-right: 290px;
    font-weight: 400;
}
.working__btn{
    @include btn;
    margin-left: 582px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.buyurtma{
    background-color: $lightBlue;
    padding: 56px;
}
.buyurtma__title{
    text-align: center;
    top: 6px;
    color: white;
}
.buyurtma__text{
    text-align: center;
    margin-left: 290px;
    margin-right: 290px;
    margin-top: 16px;
    color: #e3d6d6;
}
.buyurtma__inputs{
    width: 348px;
    height: 304px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 24px;
}
.buyurtma__inputs-input, select{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;

    width: 300px;
    height: 56px;

    /* light-grey */

    background: #F3F3F3;
    border-radius: 5px;
    border: none;
    margin-top: 16px;

}
.xizmatlar__btn{
    @include btn;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 10px;
    margin-left: 80.5px;
    margin-right: 80.5px;
    margin-top: 15px;
}
.footer{
    display: flex;
    background-color: #000;
    color: white;
    font-family: sans-serif;
}
.copy{
    h3{
        margin-top: 56px;
        margin-left: 100px;
    }
    p{
        margin-left: 100px;
        margin-bottom: 120px;
        margin-top: 29px;
        width: 320px;
    }
}
a{
    text-decoration: none;
    list-style-type: none;
}
.navs{
    margin-top: 50px;
    margin-left: 100px;
   .navs__list{
        margin-top: 20px;
   }
}
.boglanish a,.navs__list a{
    color: #797979;
}
.boglanish{
    margin-top: 50px;
    margin-left: 100px;
}
